__pycache__/
.idea/
.vscode/
.DS_Store
images/
templates/.DS_Store
templates/static/.DS_Store
templates/static/videos/
templates/static/video_recognition_videos/
templates/upload/
*.rar
*.tar
*.mp4
*.avi
*.jpg
*.png
*.pkl
*.pickle
*.bin
*.zip