{% extends "layouts/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
  <h1>{{ title}}</h1>
  <!--<canvas id="inputCanvas" width="200" height="200"></canvas>-->
  <h2><a href="/video_localize">Video Localize</a></h2>
  <h2><a href="/video_search">Video Search</a></h2>

</div>
<br/><br/>
<!--<div class="row text-center">-->
<!--  &lt;!&ndash;<button class="btn btn-primary" id="clearButton">Clear</button>&ndash;&gt;-->
<!--  &lt;!&ndash;<button class="btn btn-primary" id="sendButton">Send data</button>&ndash;&gt;-->
<!--  &lt;!&ndash;  <ul id="result"></ul>&ndash;&gt;-->
<!--  <div id="result"></div>-->
<!--</div>-->
{% endblock %}
