<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Video Localize</title>
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a class="navbar-brand" href="#"></a>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/video_localize">Localize</a></li>
              <li><a href="/video_search">Search</a></li>
            </ul>
          </div>
        </nav>
    </div>

    <div id="content" class="container main-container">
      <div class="row text-center">
        <h1>Video Localize</h1>
        <p>
          <input id="localize" class="form-control" type="text" placeholder="请输入查询文本">
          <button id="browse">选择文件
            <span id="progress" style=" opacity: 0.6;z-index:10; position: absolute; bottom: 0; left: 0; height: 100%; width: 0%; display: block; background-color: #003399">
            </span>
          </button>
        </p>
      
        <!-- 这里我们只使用最基本的html结构：一个选择文件的按钮，一个开始上传文件的按钮(甚至该按钮也可以不要) -->
        <p>
            <button id="start_upload" class="btn btn-default" type="submit" >开始上传</button>
        </p>

        <div class="row text-center">
          <div id="localizationResult"> </div>
        </div>

      </div>
    </div>
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/plupload.full.min.js"></script>
    <script src="/static/js/script.js"></script>
  </body>
</html>
